* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f0f0f0;
}

header {
  background: #000024;
}

header .center-wrapper-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  margin: auto;
  height: 100px;
}

header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

header .logo img {
  width: 150px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #ececec;
  font-size: 14px;
}

header nav ul .active {
  color: #E46F1F;
  border-top: solid 1px #E46F1F;
}

.center-wrapper {
  width: 1200px;
  margin: auto;
}

.center-wrapper .main-images {
  margin-top: 20px;
  height: 85vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  grid-gap: 3em;
  grid-area: "area1 area2" "area3 area4";
}

.center-wrapper .main-images h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  color: white;
}

.center-wrapper .main-images p {
  color: white;
  margin: auto;
  margin-bottom: 40px;
}

.center-wrapper .main-images button {
  border: white 3px solid;
  background: none;
  padding: 15px;
  color: white;
  font-weight: 700;
}

.center-wrapper .main-images button:hover {
  text-decoration: underline;
  background: #E46F1F;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.center-wrapper .main-images .i1 {
  grid: area1;
  background: url("../imgs/house.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.center-wrapper .main-images .i2 {
  grid: area2;
  text-align: center;
  background: url("../imgs/coffee.jpg");
  background-position: center;
  background-size: cover;
}

.center-wrapper .main-images .i3 {
  grid: area3;
  background: #000020;
  padding: 15px 20px;
  -webkit-column-count: 2;
          column-count: 2;
  -webkit-column-width: 100px;
          column-width: 100px;
  -webkit-column-fill: auto;
          column-fill: auto;
}

.center-wrapper .main-images .i3 p {
  font-size: 13px;
}

.center-wrapper .main-images .i3 h1 {
  font-size: 25px;
}

.center-wrapper .main-images .i4 {
  grid: area4;
}

.center-wrapper .form-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
  padding: 5em;
}

.center-wrapper .form-section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center-wrapper .form-section form h2 {
  color: #E46F1F;
  text-align: center;
  margin-bottom: 10px;
  border: none;
}

.center-wrapper .form-section form input {
  padding: .4rem;
  margin: .4rem 0;
}

.center-wrapper .form-section form .submit {
  background: #E46F1F;
  color: white;
  border: none;
  height: 30px;
  cursor: pointer;
}

.center-wrapper .form-section form .submit:hover {
  background: #eba77a;
  -webkit-transition: 20ms ease-in;
  transition: 20ms ease-in;
}

.center-wrapper .form-section form TEXTAREA {
  resize: none;
}

.center-wrapper .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20rem)[auto-fit];
      grid-template-columns: repeat(auto-fit, 20rem);
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.center-wrapper .cards .card {
  border: solid 8px #E46F1F;
  padding: 15px 15px 0 15px;
  position: relative;
  height: 20rem;
}

.center-wrapper .cards .card h2 {
  color: #E46F1F;
  margin-bottom: 20px;
}

.center-wrapper .cards .card button {
  border: #E46F1F 3px solid;
  background: none;
  padding: 15px;
  color: #E46F1F;
  font-weight: 700;
}

.center-wrapper .cards .card .placement {
  position: absolute;
  bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center-wrapper .text-wrapper h2 {
  color: #E46F1F;
  margin-bottom: 13px;
}

.center-wrapper .text-wrapper ul {
  margin-bottom: 13px;
  margin-left: 40px;
}
/*# sourceMappingURL=style.css.map */